@import '../../styles/variables'
@import '../../styles/mixins'
@import '../../styles/fonts'
@import '../../styles/colors'

.footSubscribe
  &__wrap
    width: 100%
  &__para
    padding-top: 20px
  form
    padding-top: 35px
    +clearfix()
  &__input
    width: 320px
    float: left
    input
      +font-3()
      width: 100%
      line-height: 40px
      padding: 0 30px
      border: 1px solid rgba(51, 51, 51, 0.2)
      background-color: $background-grey
      border-radius: 40px
      font-size: 16px
      color: $black
      outline: none
      &:focus, &:valid
        background-color: $white
  &__submit
    float: left
    margin-left: 25px
    font-size: 16px
  &__message
    width: 100%
    height: 18px
    margin-top: 12px
    margin-left: 30px
    float: left
    +font-1()
    font-size: 16px
    font-weight: 600
    color: $spark-red

// Large
+render-to($media-l)
  .footSubscribe
    &__wrap
      max-width: 520px

// Small
+render-to($media-s)
  .footSubscribe
    &__input
      width: 230px
    &__submit
      margin-left: 20px

// XSmall
+render-to($media-xs)
  .footSubscribe
    &__input
      width: 400px
    &__submit
      margin-left: 30px

// XXSmall
+render-to($media-xxs)
  .footSubscribe
    &__wrap
      max-width: 512px
    &__input
      width: 340px

// XXSmall
+render-to($media-xxxs)
  .footSubscribe
    &__wrap
      max-width: 100%
    &__input
      width: 100%
      input
        text-align: center
    &__submit
      width: 100%
      margin-left: 0
      margin-top: 20px
      .btn
        width: 100%
