@import '~styles/index'

.logosDownload
  +clearfix()
  &__credit
    width: 100%
    float: left
    margin-top: -$margin-fine
    max-width: 720px
    .creditPara
      +font-3()
      font-size: 18px
      line-height: 26px
      color: $download-caption-color
      p
        &:last-child
          margin-bottom: 0
        a
          &:link,
          &:visited,
          &:hover,
          &:active
            color: $download-caption-color !important
          &:after
            background-color: rgba($download-caption-color, 0.2) !important
    .creditLogo
      margin-top: $margin-fine
    +render-to($media-l)
      max-width: 630px
    +render-to($media-s)
      max-width: 550px
    +render-to($media-xs)
      max-width: 625px
    +render-to($media-xxs)
      font-size: 16px
      line-height: 23px
      margin-top: 0

