@import '~styles/variables'
@import '~styles/fonts'
@import '~styles/colors'

.btn
  line-height: 36px
  padding: 0 25px
  background-color: rgba(51, 51, 51, 0.5)
  box-sizing: border-box
  border: 1px solid rgba(51, 51, 51, 0.5)
  border-radius: 20px
  box-sizing: border-box
  a
    font-size: inherit
  &.primary
    background-color: $spark-red
    color: $white
    border-color: $spark-red
  &.white
    color: $spark-red
    background-color: $white
    border-color: $white
    &:hover
      color: $white
      background-color: transparent
