@import '~styles/variables'
@import '~styles/mixins'
@import '~styles/fonts'
@import '~styles/colors'

.btn
  +font-1()
  font-size: 16px
  text-align: center
  color: $white
  height: 43px
  line-height: 43px
  padding: 0 25px
  background-color: rgba($black, 0.9)
  border: 1px solid rgba($black, 0.9)
  border-radius: 42px
  box-sizing: border-box
  outline: none
  cursor: pointer
  a
    font-size: inherit
  &.primary
    background-color: $spark-red
    color: $white
    border-color: $spark-red
  &.white
    color: $spark-red
    background-color: $white
    border-color: $white
    &:hover
      color: $white
      background-color: transparent
  &.hollow
    background-color: transparent
    border-color: rgba($black, 0.5)
    color: $body-text
  &.download
    min-width: 156px
    padding-right: 40px
    position: relative
    &:after
      content: ''
      width: 40px
      height: 40px
      display: block
      position: absolute
      top: 0
      right: 0
      background-image: url($download-icon)
      background-size: 16px
      background-position: center
      background-repeat: no-repeat
  &-large
    line-height: 44px
    min-width: 170px
    border-radius: 200px
