@import '~styles/index'

.mainNavItem
  position: relative
  margin-right: 40px
  float: left
  +font-1()
  font-size: 16px
  font-weight: normal
  line-height: 38px
  letter-spacing: -0.03em
  color: $black
  &:after
    content: ''
    position: absolute
    bottom: 5px
    left: 0
    width: 100%
    height: 2px
  &:hover
    &:after
      background-color: $link-undeline-bg-color
  &:active
    &:after
      background-color: $acid-yellow
  &.active
    color: $spark-red
    &:hover
      color: $nav-active-hover-color
      &:after
        display: none
  &.light
    color: $white
    &:hover
      color: $white
  &-btn
    float: left
    letter-spacing: -0.03em
    a
      display: block
      width: 100%
    .btn
      height: 36px
      line-height: 36px
      border-radius: 20px
      &:hover
        background-color: $black
        +shadow-shallow()
      &:active
        color: $black
        background-color: $acid-yellow
        +shadow-pressed()
      &.active
        background-color: $pinky-grey
        color: $spark-red
        &:hover
          background-color: $nav-btn-active-hover-bg-color
          box-shadow: none
    &.light
      .btn
        background-color: $white
        color: $spark-red
        border-color: $white

// Large
+render-to($media-l)
  .mainNavItem
    &__item
      &-btn
        text-align: center

// Small
+render-to($media-s)
  .mainNavItem
    font-size: 21px
    float: none
    text-align: center
    margin-bottom: 40px
    margin-right: 0
    &-btn
      display: inline-block
      float: none
      &.light
        .btn, .btn:hover
          background-color: $spark-red
          color: $white
    &.light
      color: $black
      &:hover
        color: $spark-red
