@import '~styles/variables'
@import '~styles/mixins'

// Default (ML)
.mainNav
  +clearfix()
  &__wrap
    width: 100%
    float: right

// Large
+render-to($media-l)
  .mainNav
    &__wrap
      display: grid
      float: none
      grid-template-columns: repeat(5, 1fr)

// Small
+render-to($media-s)
  .mainNav
    &__wrap
      float: none
      text-align: center
      padding-top: 80px
