// Colors
$white: #FFF
$black: #333
$spark-red: #F0572A
$acid-yellow: #F8F314
$grey: #F5F4F2
$pinky-grey: #DDD6D6
$body-text: #444444
$unit-green: #496C7D

$footer-bg-color: $white
$presskit-bg-color: $grey
