// Grid
$width-xl: 2200px
$width-l: 1800px
$width-m: 1600px
$width-s: 1300px
$width-xs: 1000px
$width-xxs: 768px
$width-xxxs: 500px

$max-width-xl: $width-xl

$col-count: 10
$col-count-small: 6

// Default paths
$assetsPath: '../../../assets'
$imagePath: '#{$assetsPath}/images'

$menu-icon: '#{$imagePath}/common/mob_menu.svg'
$menu-icon-dark: '#{$imagePath}/common/mob_menu_dark.svg'
$menu-close-icon: '#{$imagePath}/common/mob_menu_close.svg'
