@import '~styles/variables'
@import '~styles/mixins'

// Downloads
.pressKitDownloads
  &__title
    +grid()
    padding-top: 80px
    h2
      grid-column: 2/ span 2

// Large
+render-to($media-l)
  .pressKitDownloads
    &__wrap
      padding-bottom: 55px
    &__title
      padding-top: 100px

// XLarge
+render-to($media-xl)
  .pressKitDownloads
    &__wrap
      max-width: $max-width-xl
    &__title
      padding-top: 110px

// Small
+render-to($media-s)
  .pressKitDownloads
    &__wrap
      padding-bottom: 30px
    &__title
      padding-top: 40px

// XSmall
+render-to($media-xs)
  .pressKitDownloads
    &__wrap
      padding-bottom: 54px
    &__title
      +grid-small()
      h2
        grid-column: 1/ span 6
        padding-left: $hspace-xs

// XXSmall
+render-to($media-xxs)
  .pressKitDownloads
    &__title
      padding-top: 0
      h2
        padding-left: $hspace-xxs
        margin-top: 75px

+render-to($media-xxxs)
  .pressKitDownloads
    &__title
      h2
        padding-left: $hspace-xxxs
